#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  border: 2px solid darkgreen;
  width: 400px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  border: 1px solid darkgreen;
  font-size: 60px;
  font-weight: 800;
  cursor: pointer;
  outline: none;

  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--rotate-y, 0));
}

.square.flip {
  --rotate-y: 180deg;
}

.square .front {
  left: 0;
}

.square .front,
.square .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.square .back {
  transform: rotate(180deg);
}

.square .back p {
  max-width: 100px;
}
/* .square:hover {
  --translate-y: -2px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
} */
