.board {
  border: 2px solid darkgreen;
  width: 400px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  border: 1px solid darkgreen;
  font-size: 60px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}
